@model WebBanHangOnline.Models.KhachHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChiTietKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    h1{
        background-color:#FFE4B5
    }
</style>
<h1>Thông tin chi tiết khách hàng</h1>

<div>
    <hr />
    <table class="table">
    <thead>
        <tr class="table-danger">
            <th>
               Danh mục
            </th>
            <th>
               Thông tin
            </th>
        </tr>
    </thead>
    <tbody>
             <tr>
                <td>Mã khách hàng</td>
                <td>@Html.DisplayFor(model => model.MaKhachHang)</td>
            </tr>
            <tr>
                <td>Tên nhân viên</td>
                <td>@Html.DisplayFor(model => model.TenKhachHang)</td>
            </tr>
             <tr>
                <td>Tên đăng nhập</td>
                <td>@Html.DisplayFor(model => model.Username)</td>
            </tr>
             <tr>
                <td>Xếp loại khách hàng</td>
                <td>@Html.DisplayFor(model => model.LoaiKhachHang)</td>
            </tr>
             <tr>
                <td>Ngày sinh</td>
                <td>@Html.DisplayFor(model => model.NgaySinh)</td>
            </tr>
             <tr>
                <td>Số điện thoại</td>
                <td>@Html.DisplayFor(model => model.SoDienThoai)</td>
            </tr>
             <tr>
                <td>Địa chỉ</td>
                <td>@Html.DisplayFor(model => model.DiaChi)</td>
            </tr>
             <tr>
                <td>Ghi chú</td>
                <td>@Html.DisplayFor(model => model.GhiChu)</td>
            </tr>
    </tbody>
       </table> 
</div>
<hr />
<div>
     <a class="btn btn-outline-danger btn-icon-text" asp-action="ListKhachHang" >Trở về</a>
</div>
