@using WebBanHangOnline.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DanhMucSp>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Danh mục các sản phẩm</h1>

<p>
    <a class="btn btn-outline-info btn-fw" asp-action="ThemSanPhamMoi">Thêm Mới</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-danger">
            <th>
                Tên sản phẩm
            </th>
            <th>
               Chiết khấu
            </th>
            <th>
               Giá nhỏ nhất
            </th>
            <th>
                Giá lớn nhất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-primary";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-primary";
            if(i%2==0)
            {
                   cls = "table-info";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChietKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
                
            <td>
                <a asp-action="SuaSanPham" asp-route-maSanPham="@item.MaSp">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Chi Tiết</a> |
                <a asp-action="XoaSanPham" asp-route-maSanPham="@item.MaSp">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p></p>
<div class="product__pagination">
    @Html.PagedListPager(Model, page=>Url.Action("DanhMucSanPham", new{page=page}),new
    X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>