@using WebBanHangOnline.Models;
@model IEnumerable<WebBanHangOnline.Models.DanhMucSp>

@{
    ViewData["Title"] = "DMSP";
    Layout = "~/Areas/Admin/Views/Shared/PartialSideBar.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>DMSP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNuocSx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiThieuSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChietKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNhoNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaLonNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaChatLieuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHangSxNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNuocSx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiThieuSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChietKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChatLieuNavigation.MaChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHangSxNavigation.MaHangSx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiNavigation.MaLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
