@model WebBanHangOnline.Models.DanhMucSp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    h1{
        background-color:#FFE4B5
    }
</style>
<h1>Thông tin chi tiết sản phẩm</h1>

<div>
    <hr />
    <table class="table">
    <thead>
        <tr class="table-danger">
            <th>
               Danh mục
            </th>
            <th>
               Thông tin
            </th>
        </tr>
    </thead>
    <tbody>
             <tr>
                <td>Mã sản phẩm</td>
                <td>@Html.DisplayFor(model => model.MaSp)</td>
            </tr>
            <tr>
                <td>Tên sản phẩm</td>
                <td>@Html.DisplayFor(model => model.TenSp)</td>
            </tr>
             <tr>
                <td>Chất liệu</td>
                <td>@Html.DisplayFor(model => model.MaChatLieu)</td>
            </tr>
             <tr>
                <td>Hãng sản xuất</td>
                <td>@Html.DisplayFor(model => model.MaHangSx)</td>
            </tr>
             <tr>
                <td>Nước sản xuất</td>
                <td>@Html.DisplayFor(model => model.MaNuocSx)</td>
            </tr>
             <tr>
                <td>Loại sản phẩm</td>
                <td>@Html.DisplayFor(model => model.MaLoai)</td>
            </tr>
             <tr>
                <td>Giá bán</td>
                <td>@Html.DisplayFor(model => model.GiaLonNhat)</td>
            </tr>
             <tr>
                <td>Chiếc khấu</td>
                <td>@Html.DisplayFor(model => model.ChietKhau)</td>
            </tr>
    </tbody>
       </table> 
</div>
<hr />
<div>
     <a class="btn btn-outline-danger btn-icon-text" asp-action="DanhMucSanPham" >Trở về</a>
</div>
